# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Apps.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\Apps\.idea\.idea.Apps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
